<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" media="screen"/>
    <head>
        <title>LAFtech Service Reports</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link type="text/css" rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
		<link rel="icon" href="../images/icon.ico" th:href="@{images/icon.ico}"/>
    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/index}">here</a> to get Started!</p>
    </body>
</html>